
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.container{
    width: 1190px;
    margin:  0 auto;
    position: relative;
}


header{

    .top{
        width: 100%;
        height: 26px;
        background-color: #F2F2F2;
        border: 1px solid #E5E5E5;
        .list-left{
            float: left;

            li{
                float: left;
                font-size: 12px;
                color: #999999;
                margin-right: 20px;
                line-height: 26px;
            }
        }
        .list-right{
            float: right;

            li{
                float: left;
                font-size: 12px;
                color: #999999;
                margin-left: 20px;
                line-height: 26px;
            }
        }
    }
    .search{
        
        .se-layout{
            display: flex;
            justify-content: space-between;
            padding-top: 34px;
        }
        .search-box{
            width: 540px;
            height: 31px;
            border: 5px solid #FF0036;
            display: flex;
            .se-text{
                flex: 1;
                input{
                    width: 100%;
                    height: 100%;
                }
            }
            .se-btn{
                width: 90px;
                height: 31px;
                background-color: #FF0036;
            }
        }

    }
}

main{
    .classifyTab{
        width: 100%;
        padding-top: 20px;
        border-bottom: 1px solid #2F2F2F;
    }

    .content{
        display: flex;
        justify-content: space-between;
       .logo{
          
        margin-bottom: 9px;
        
       }

        ul{
            li{
                float: left;
                display: block;
                padding: 10px;
                text-align: center;
                
            }

            li:nth-child(1){
                width: 240px;
                background-color: #2F2F2F;
                color: #FFFFFF;
                margin-right:25px ;
            }
        }
    }

    .topTab{
        display: flex;
        margin-top: 25px;
        
        .left{
            width: 190px;
            height: 80px;
            margin-right: 20px;

            ul{
                li{
                    border: 1px solid #E4E4E4;
                    padding: 8px 0;
                }
            }
        }
        .right{
            width: 100%;
            .top{
                border: 1px solid #E4E4E4;
                display: flex;
                justify-content: space-between;
                background-color: #F7FAFF;
                
                ul{
                  li{
                      float: left;
                      padding: 0 10px;
                  }
                }
            }
        }
    }

    .product-list{
        width: 820px;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 20px;

        .product-layout{
            width: 1008px;
            height: 100%;
            

            .title{
                margin-left: 20px;
                span{
                    padding: 5px;
                    background-color: #A6A6A6;
                }
            }
    
            .product-search{
                width: 100%;
                
                border-top: 5px solid #A6A6A6;
                border-bottom: 1px solid #A6A6A6;
                display: flex;
                flex-direction: column;
    
                .search-top{
                    display: flex;
                    background-color: #F5F5F5;
                    padding: 5px 0; 
                    font-size: 12px;
                    div{
                        margin: 0 15px 0 15px;
                        color: #666666;
                    }
                    .inp1{
                        width: 218px;
                        height: 22px;
                        border: 1px solid #A6A6A6;
                    }
                    .inp2{
                        width: 11px;
                        height: 11px;
                        border: 1px solid #333333;
                    }
                    .btn{
                        width: 38px;
                        height: 18px;
                        font-size: 12px;
                        background-color: #FFFFFF;
                    }
                }
                .search-sort{
                    background-color: #FAFAFA;
                    color: #2953A6;
                    .sort-list{
                        
                        li{
                            padding: 12px;
                            float: left;
                            border-left: 1px solid #EBEBEB;
                            font-size: 12px;
                        }
                    }
                }
            }

            .product-item{
                .item-list{
                    display: flex;
                    flex-wrap: wrap;
                }
                .product{
                    width: 190px;
                    height: 275px;
                    margin: 20px 30px;
                }
                .product:hover{

                    .productInfo{
                        transition: 0.2s all ease;
                        background-color: #F5F5F5;
                    }
                }
                .productInfo{
                    margin-top: 20px;
                    height: 275px;
                    padding: 10px 13px 0;
                    
                    .product-img{
                        height: 160px;
                        width: 160px;
                        vertical-align: middle;
                        a{
                            display: table-cell;
                            text-align: center;
                            
                        }
                    }
                    .product-title{
                        padding: 4px 0 0;
                        height: 36px;
                        overflow: hidden;
                        line-height: 18px;
                        font-size: 12px;
                        font-weight: 400;
                        color: #666;
                    }
                    .item-summary{
                        width: 160px;
                        height: 40px;
                        position: relative;

                        .item-sum{
                            width: 124px;
                            height: 20px;
                            line-height: 20px;
                            overflow: hidden;
                            padding-top: 5px;

                            strong{
                                color: #CEAA00;
                                word-break: break-all;
                            }
                        }
                        .item-price{
                            width: 124px;
                            height: 20px;
                            line-height: 20px;
                            overflow: hidden;
                            padding-top: 5px;
                            span{
                                font-size: 15px;
                                color: #CC0000;
                            }
                        }
                        .car-img{
                            width: 32px;
                            height: 32px;
                            position: absolute;
                            top: 26px;
                            left: 120px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    
                }
               
            }



        }

      
        
    }

    

}

